/* body{
background-color: #F5F6FA;    
} */
.pinbox{
font-family: Nunito Sans;
font-size: 32px;
font-weight: 800;
letter-spacing: -0.11428570002317429px;
text-align: left;

}
.main{
background-color:white;
border-radius: 10px;
height: 700px;
}
.botn{
display: flex;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
height:43px;
width:238px;
border-Radius:10px
}