* {
  font-family: "Poppins", sans-serif;
}

.jsp{
  background: linear-gradient(#e66465, #9198e5);
}
.cont{
  padding-top: 100px;
}
.elem {
  padding-top: 10px;
  padding-bottom: 24px;
}
.p1 {
  font-size: 20px;
  /* font-weight: 600; */
  color: #7c838a;
  margin: 0%;
}
.titre {
  font-size: 26px;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
input {
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  background-color: #b0bac340;
  border: none;
}
.btn1 {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #f9ed32;
  width: 300px;
  /* height: 55px; */
  font-family: "Poppins" sans-serif;
  border: none;
  font-weight: 550;
  font-size: 20px;
}
/* .btndiv {
  justify-content: center;
  display: flex;

} */

.or{
  color:#B0BAC3;
  font-size: 26px;
}

.btn2{
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: "Poppins" sans-serif;
  background-color: white;
  border-width: thin;
  color: #7C838A;
}